*{
    padding: 0%;
    margin: 0%;
}
/*Las variables se incertan arriba de todo*/
@import './variables/flexdirec';
@import './secciones/header';
@import './secciones/footer';
@import './secciones/index';
@import './secciones/porque';
@import './secciones/contacto';
@import './secciones/portfolio';
@import './secciones/servicios';



@media (max-width: 600px) {
    .seccion3 {
        flex-direction: column;
        background-color: 100vh;
    }

}


