* {
  padding: 0%;
  margin: 0%;
}

/*Las variables se incertan arriba de todo*/
.background, .cards, .midfoott {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h2 {
  font-family: larger;
  font-weight: bold;
}

.container-fluid {
  font-size: larger;
  font-weight: bold;
  font-family: Open Sans, Arial, sans-serif;
  color: white;
}

.navbar-collapse {
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  padding-right: 10vw;
}

.navbar-brand {
  padding-left: 10vw;
  font-size: 35px;
}

.text {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(218, 228, 29, 0.819)), to(rgba(0, 0, 0, 0.849)));
  background-image: linear-gradient(to top, rgba(218, 228, 29, 0.819) 20%, rgba(0, 0, 0, 0.849) 100%);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 25vh;
  font-weight: bold;
  font-size: 1rem;
  font-family: Open Sans, Arial, sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(218, 228, 29, 0.819)), to(rgba(0, 0, 0, 0.849)));
  background-image: linear-gradient(to bottom, rgba(218, 228, 29, 0.819) 20%, rgba(0, 0, 0, 0.849) 100%);
}

.form {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.liFooter {
  padding-top: 1.5vh;
  color: white;
}
.liFooter a {
  text-decoration: none;
}
.liFooter:hover {
  color: white;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  padding-left: 0.5rem;
}

footer a {
  text-decoration: none;
}

.midfoott {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgb(6, 4, 4);
  padding-top: 1.5vh;
  list-style: none;
  font-size: 35px;
}
.midfoott:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.formFoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
  margin-top: 15px;
  list-style: none;
}

.liFoot {
  margin-right: 1rem;
  margin-top: 15px;
}

.liFoott {
  background-color: rgb(252, 252, 252);
  border-radius: 5rem;
  margin-right: 1rem;
  margin-top: 5px;
}
.liFoott:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.593);
}

.cards {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: black;
  color: rgb(186, 186, 186);
}
.cards h1 {
  color: rgba(218, 228, 29, 0.819);
  font-size: 3rem;
  font-family: sans-serif;
}
.cards h2 {
  color: rgba(218, 228, 29, 0.819);
  font-size: 3rem;
  font-family: sans-serif;
}

.seccion2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(77, 73, 73, 0.694);
  margin-top: 5rem;
}
.seccion2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 1s;
  transition: 1s;
}

.background {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: black;
  color: rgb(186, 186, 186);
}
.background .tituloPorque {
  color: rgba(218, 228, 29, 0.819);
  font-size: 3rem;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 4rem;
}
.background .table {
  font-size: larger;
  color: rgb(186, 186, 186);
}
.background h2 {
  padding-top: 7%;
  font-size: 3rem;
  color: rgba(218, 228, 29, 0.819);
}
.background .seccion3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 6%;
  padding-left: 12%;
  padding-right: 12%;
}
.background .ultimoTitulo {
  font-family: italic;
  font-size: larger;
  font-weight: bold;
  padding-bottom: 3%;
  font-size: 1.8rem;
  color: rgba(218, 228, 29, 0.819);
  padding-top: 5rem;
  padding-bottom: 3rem;
}

@media (max-width: 700px) {
  .seccion3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: 100vh;
  }
}