.container-fluid {
    @include bold (larger, bold);
    font-family: Open Sans, Arial, sans-serif;
    color: white;
}

.navbar-collapse {
    flex-grow: inherit;
    padding-right: 10vw;
}


.navbar-brand {
    padding-left: 10vw;
    font-size: 35px;
}

.text {
    background-image: linear-gradient(to top, rgba(218, 228, 29, 0.819) 20%, rgba(0, 0, 0, 0.849) 100%);
}
